<!DOCTYPE html>
<html>

  <head>
    <title>Can I get pregnant now?</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>

<header>
</header>

<body>

  <div class=popup>
    <--! THIS PART IS FOR THE POP UP WARNING MESSAGE-->
  </div>

  <div class=calendar>
    <h2>1. Input the first date of your last period.</h2>
      <--! THIS PART IS FOR THE CALENDAR-->
  </div>

  <div class=slider>
    <h2>2. Input the length of your cycle.</h2>
      <p><i>if you are unsure the average cycle is 28 days</i></p>
      <--! THIS PART IS FOR THE NUMBER SLIDER-->
  </div>

</body>
</html>
