<!DOCTYPE html>
<html>

  <head>
    <title>Can I get pregnant now?</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/js/mdb.min.js"></script>

    <script type="text/javascript" src="../static/js/script.js"></script>
    <script type="text/javascript" src="bootstrap.js"></script>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->

  </head>

<header>
</header>

<body>

  <div class=popup>
    <!-- THIS PART IS FOR THE POP UP WARNING MESSAGE-->
  </div>

  <div class=calendar>
    <h2>1. Input the first date of your last period.</h2>
      <!-- THIS PART IS FOR THE CALENDAR-->

    <form method="post" action="/canigetpregnant">
      <div class="container">
          <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <div class="input-group date" id="datetimepicker1">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                  </div>
              </div>
              <script type="text/javascript">
                  $(function () {
                      $('#datetimepicker1').datetimepicker();
                  });
              </script>
          </div>
      </div>
  </div>

  <h2>2. Input the length of your cycle.</h2>
    <p><i>if you are unsure, the average cycle is 28 days</i></p>

    <div class=slider>
      <!-- THIS PART IS FOR THE NUMBER SLIDER-->
      <p id="sliderValue"></p>
      <label for="customRange1"></label>
      <input type="range" class="custom-range" min="21" max="40" id="customRange1">
    </div>
    <input type="submit" value="Submit" id="submit"/>
  </form>

<script>
  $("#customRange1").change(function(){
    var newValue = $('#customRange1').val();
    console.log(newValue);
    $("#sliderValue").text(newValue);
  });
  </script>


</body>
</html>
