<!DOCTYPE html>
<html>

  <head>
    <title>Can I get pregnant now?</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ThrowPropsPlugin.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/utils/Draggable.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->

  </head>

<header>
</header>

<body>

  <div class=popup>
    <!-- THIS PART IS FOR THE POP UP WARNING MESSAGE-->
  </div>

  <div class=calendar>
    <h2>1. Input the first date of your last period.</h2>
      <!-- THIS PART IS FOR THE CALENDAR-->

      <div class="container">
          <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <div class="input-group date" id="datetimepicker1">
                          <input type="text" class="form-control">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                  </div>
              </div>
              <script type="text/javascript">
                  $(function () {
                      $('#datetimepicker1').datetimepicker();
                  });
              </script>
          </div>
      </div>

  </div>

  <h2>2. Input the length of your cycle.</h2>
    <p><i>if you are unsure the average cycle is 28 days</i></p>

  <div class=slider>
      <!-- THIS PART IS FOR THE NUMBER SLIDER-->
        <input id="ex8" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
  </div>

</body>
</html>
